__pycache__/
.history/
archive/
.venv
output_files
.DS_Store


# Keep pre-run demand scenario outputs under version control

*.sqlite-wal
*.sqlite-shm

2_focus_groups/22_GloBus-Temoa_Zhi_Cao/TEMOA/data/2_temoa/24_temoa_USA
2_focus_groups/22_GloBus-Temoa_Zhi_Cao/TEMOA/data/2_temoa/23_temoa_Europe
!2_focus_groups/22_GloBus-Temoa_Zhi_Cao/TEMOA/data/1_mfa/pre-run-demand/
!2_focus_groups/22_GloBus-Temoa_Zhi_Cao/TEMOA/data/1_mfa/pre-run-demand/*.csv
